body{
    background-color:#964B00 ;
}


header{
    background-color: #FFA500;
    border-radius: 10px;
    margin-right: 7px;
}

#cabecalho{
    display: flex;
    color: white;
    
    
}

#cabecalho div{
    margin: auto;
    padding: 5px px;
    font-family: Arial, Helvetica, sans-serif;
}

#pedidos{
    cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.precoConfi{
    display: flex;
}

main{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

main #valor{
    
    padding-bottom:20px ;
    color: #ffff;
}

main #pesquisar{
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding: 5px 5px;

}

/*///////////////////////////////////////////////??/////*/

footer .produto{
   font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-left: 30px;
    margin-right: 30px;
    border:solid 1px #FFA500;
    border-radius: 5px;
    margin-top: 20px;
}


footer .info{
    display: none;
    font-size: 15px;
    color: white;
    background-color: #573902;
    padding: 10px;
    margin-top: 20px;
   border-radius: 5px;
    
}

footer  .img{
   
   border-radius: 5px;
}

footer .produto .nomePreco{
    color:#ffff;
}

footer .nome{
    padding-left: 10px;
}

footer .preco{
    padding-left: 10px;
}

footer .botao {
    color: #ffff;
    background-color: #FFA500;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

footer .detalhes{
    font-size: 12px;
    padding-left: 15px;
    padding-bottom:5px ;
    text-decoration: underline;
}

